{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <!-- <h1 class="text-center">Programming Books</h1><br> -->
    <div class="row">
        {% for program in programming_books%}
        <div class="col-md-3">
            <div class="card text-center" style="width: 30rem; box-shadow: 0 4px 8px 0 rgba(66, 45, 160, 0.87);"><br>
                <img src="{{program.thumbnail}}" class="card-img-top" alt="..." width="200px" height="200px">
                <div class="card-body">
                    <h4 class="card-title"><b>{{program.title}}</b></h4>
                    <span class="text-muted"> By: {{program.authors}}</span> <br><br>
                    <a href="{{program.previewLink}}" target="_blank" class="btn btn-primary">Book Preview</a>

                    <br><br>
                </div>
            </div><br><br>
        </div>
        {% endfor %}

    </div>

</div>


{% endblock %}


</body>

</html>