<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="font-family: 'Sansita Swashed', cursive;"> pro<span class="text-primary" style="font-size: 23px;"><b>Books</b></span> </a>
        </div>


          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li style="color:white;padding:15px; font-family: 'Sansita Swashed', cursive;" >🙎 {{current_user.username | capitalize}}</li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false" style="font-family: 'Sansita Swashed', cursive;"> Account <span
                        class="caret"></span></a>
                <ul class="dropdown-menu ">       
                    <!-- <li><a href="{{url_for('auth.logout')}}">Profile</a></li> -->
                    <li><a href="{{url_for('auth.logout')}}" style="font-family: 'Sansita Swashed', cursive;">Sign out</a></li>
                </ul>
            </li>
            {% else %}
            <li><a href="{{url_for('auth.login')}}" style="font-family: 'Sansita Swashed', cursive;">🙎‍♂️Sign in</a></li>
            {%endif%}
        </ul>


    </div>
</div>